{% extends 'base.html'%}
{% load static %}
    
{% block content %}

<div class="video-container">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'media/Google Sustainability | A carbon-free future.mp4' %}" type="video/mp4">
    </video>
</div>
<div class="content">
    <h1>Welcome to The Carbon Footprint Tracker</h1>
    <p><b>Let's Make a Greener Planet Together, one step at a time</b></p>
    <button id = "start-button" class="start-button">Let's Start</button>
    <script>
        document.getElementById("start-button").onclick = function () {
    location.href = "index.html";
};
    </script>
</div>

    {% endblock%}
    
