{% extends 'base.html'%}

{%load static%}

{% block content %}

    <form action="" method="POST">

        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">
            Submit
        </button>
    </form>
<div>
    <img style="margin-left: 100px; transform: scale(0.8); " src="{% static 'media/images/wcft.jpeg'%}" alt="">

    <pre style="margin-left: 700px; margin-top: -300px; border: solid; border-radius: 30px;">
        in this section you are asked to input your method
        of transportation for the day, 
        which is than taken by the system 
        in order to Calculate your daily carbon emission.
    </pre>
    
</div>

{% endblock%}