{% extends 'base.html'%}

{% block content %}
<head>
    <link rel="stylesheet" href="https://fonts-api.wp.com/css?family=Roboto%3A500%2C700%2C400%2C400italic%7CPlayfair+Display%3A400&subset=latin&ver=6.7.2">
    <style>
        body {
            font-family: "Roboto";
            color: #22577A;
        }
        div {
            padding: 0px 30px;
        }
    </style>
</head>
<div class="container-fluid">

    <div class="d-flex align-items-center justify-content-center text-center " style="height: 400px;">
        <h2 style="font-size: 60px;">Tailored Carbon Offsetting Designed For You</h2>
    </div>

    <div class="row" style="background-color: #ffffff">
        <div class="col-md-6">
            <h2> What Is Carbon Offsetting? </h2>
            
            <p>Carbon offsetting is a carbon trading mechanism that allows entities such as governments or businesses to compensate for their greenhouse gas emissions. It works by supporting projects that reduce, avoid, or remove emissions elsewhere. (To be edited)</p>

            <h2>What are Carbon Credits?</h2>
            <p>Carbon credits are marketable permits that each reflect one metric ton of carbon dioxide (CO2) emissions (or other greenhouse gases) that a business is allowed to emit. Carbon credits are commonly used in the context of emissions trading in which companies are given a fixed amount of credits depending on their emissions. They can later purchase more credits or sell their extra.</p>

            <h2>Types Of Carbon Offsetting</h2>
            <ul>
               
               <li> Planting trees </li>
                <li>Buying Carbon Credits</li>
               <li>  Volunteering for green projects </li>
               <li>  Investing in renewable energy sources </li>
            </ul>
        </div>

         <div class="col-md-6">
             <h2>The Difference Between Carbon Credit and Carbon Offset</h2>

             <p>Carbon offsets can be considered a measurement unit to “compensate” a business for investing in green projects or initiatives (whether natural or mechanical) that eliminate emissions. Carbon credits are a measurement unit to “cap” emissions (meaning permitted emissions).
             </p>

             <h2>About The Carbon Market</h2>
             <p> carbon markets are trading systems in which carbon credits are sold and bought. Companies or individuals can use carbon markets to compensate for their greenhouse gas emissions by purchasing carbon credits from entities that remove or reduce greenhouse gas emissions.</p>

               <p> One tradable carbon credit equals one tonne of carbon dioxide or the equivalent amount of a different greenhouse gas reduced, sequestered or avoided. When a credit is used to reduce, sequester, or avoid emissions, it becomes an offset and is no longer tradable.
                </p>
        </div>


    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Renewable Energy Credits (RECs)</h2>
            <p>Households and companies can purchase renewable energy credits as a way to supply their home or building with clean energy. A renewable energy credit (REC) generates one megawatt-hour (MWh) of electricity from a renewable energy source and then shares it with a power line system that transports energy around the region. RECs are tradable, non-tangible commodities</p>

            <h2>Energy Efficiency Certificates</h2>
            <p>An energy efficiency certificate is a document that determines how much a building consumes and the level of CO2 emissions it emits into the atmosphere.</p>
            <p>The content of the energy certificate is summarized in the energy label. This is similar to the energy label on electrical appliances: it indicates the emission and consumption ratings that the property has obtained with a scale of colors and letters going from A (green), the most efficient, to G (red), the least efficient</p>

        </div>

        <div class="col-md-6">
            <h2>Carbon Credits Vs RECs</h2>
            <p>Both carbon credits and RECs represent ways in which we can mitigate carbon emissions and global warming. But they are also different methods of climate action with different environmental impacts, making it important to understand their differences.</p>

            <p>The main difference between carbon credits and RECs is that carbon credits cap carbon emissions whereas RECs create new energy from renewable resources. Also, purchasing RECs directly reduces your carbon footprint whereas carbon credits do not directly reduce your carbon footprint.</p>

            <img src="https://i0.wp.com/carbonfootprint5.wpcomstaging.com/wp-content/uploads/2024/04/CFT-image-6.jpg?fit=1920%2C1080&ssl=1" alt="" style="max-width:100%; height:auto ;">

        </div>

    

    </div>
    <div class="row" style="background-color: #ffffff;">
        <div class="col-md-12">
            <h2>How You Can Start Providing For Our World</h2>
            <p>If You are interested in the information provided above here are some useful links where you can take action and start caring for our planet from now on.</p>

            <ul>
                <li><a href="https://www.treesforcities.org/get-involved">https://www.treesforcities.org/get-involved</a></li>
                <li><a href="https://www.nationaltrust.org.uk/support-us/plant-a-tree">https://www.nationaltrust.org.uk/support-us/plant-a-tree</a></li>
            </ul>
            <p>The links above direct you to websites where you can pay a small fee to plant trees.</p>

            <ul>
                <li><a href="https://www.woodlandcarboncode.org.uk/buy-carbon/how-to-buy">https://www.woodlandcarboncode.org.uk/buy-carbon/how-to-buy</a></li>
                <p>
                    This link will direct you to a website where you can learn more about buying carbon credits and how they work.

                </p>

                <h5>Take Action Now!</h5>
            </ul>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">

            <img src="https://i0.wp.com/carbonfootprint5.wpcomstaging.com/wp-content/uploads/2024/04/What-is-a-carbon-footprint-2.jpeg?fit=1920%2C960&ssl=1" alt="" style="max-width: 100%; height: auto;">

        </div>

    </div>
</div>

{% endblock%}