<div class="navbar">
    <div class="navbar-container">
        <a href="{% url 'home' %}" class="brand">Carbon Footprint Tracker</a>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'emissions:transportation_create'%}">Transportation</a></li>
                <li><a href="{% url 'emissions:household_create'%}">Household</a>
                    {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'home' %}" title="LandingPage">Home</a></li>
                    
                        {% if user.is_authenticated %}
                <li><a href="{%url 'emissions:emission_report'%}">Graphs</a></li>
                        {% endif %}
                <li>
                    {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button class= " btn btn-danger btn-sm" type="submit">Logout</button>
                
                </form>
                {% else %}
                <a href="{% url 'accounts:login'%}">Login & Register</a>
                {% endif %}
            </li>
            </ul>
        </nav>
    </div>
</div>